.result-container {
  width: 60%;
  margin: 30px auto;

  .result-link {
    text-decoration: none;
  }

  .result-article {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;

    &__image {
      width: 30%;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    &__content {
      width: 70%;

      > h1 {
        font-size: 20px;
        margin: 0 0 10px 20px;
        padding: 0;
        color: black;
        font-weight: bold;
      }
      > p {
        margin: 0 0 0 20px;
        color: #5c5a5a;
      }

      .description {
        margin-bottom: 20px;
        max-height: 42px;
        overflow: hidden;
      }

      .time {
        > span {
          margin-right: 10px;
          font-weight: bold;
        }
      }

      .author {
        margin-top: 15px;
        > span {
          font-weight: bold;
        }
      }
    }
  }
  .article-not-found {
    text-align: center;
    > p {
      font-weight: bold;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .result-container {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .result-container {
    width: 90%;
    .result-article {
      display: flex;
      flex-wrap: wrap;
      height: 300px;
      margin-bottom: 30px;
      border-bottom: 1px solid #888888;

      &__image {
        width: 100%;
        height: 130px;
        margin-bottom: 10px;
      }
      &__content {
        width: 100%;

        > h1,
        p {
          margin: 0;
          font-size: 12px;
        }
        .description {
          height: 38px;
        }
      }
    }
  }
}
