@import './layout/base';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;

  .App {
    .App-header {
      background-color: #282c34;
      height: 5.5rem !important;
      font-size: 25px;
      color: white;
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
    }
    .App-body {
      margin-top: 130px;
    }
  }

  .nav-wrapper {
    display: flex;

    > div {
      width: 50%;
    }

    .logo-container {
      margin-left: 50px;
    }
    .logo {
      text-decoration: none;
      color: white;
      margin: 30px 10px 10px 0px;
      float: left;
    }

    .right {
      margin-right: 50px;
    }

    .dropdown {
      position: relative;
    }
    .dropdown-content {
      color: black;
      position: absolute;
      background-color: white;
      border: 1px solid black;
      z-index: 1;
      right: 0px;
      min-width: 180px;

      ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        a {
          text-decoration: none;
          color: black;
          width: 100%;
          padding: 0;

          li {
            text-transform: capitalize;
            border: 1px solid #ddd;
            background-color: white;
            font-size: 1rem;
            padding: 0px 12px;
          }
          li:hover {
            background: #e0e0de;
          }
        }

        .user-name {
          text-transform: none;
          font-size: 1rem;
          padding: 0px 12px;
        }
      }
    }
    .nav-user-image {
      margin-left: 20px;
    }

    .notification-dropdown {
      position: relative;
    }

    .notification-content {
      color: black;
      position: absolute;
      background-color: white;
      border: 1px solid black;
      z-index: 1;
      right: 0px;
      min-width: 300px;

      ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;

        a {
          text-decoration: none;
          color: black;
          width: 100%;
          padding: 0;

          li {
            text-transform: none;
            border: 1px solid #ddd;
            background-color: white;
            font-size: 0.8rem;
            padding: 0px 12px;
            line-height: 30px;
          }
          li:hover {
            background: #e0e0de;
          }
        }
      }
    }

    ul {
      float: right;

      li {
        list-style-type: none;
        text-transform: uppercase;
        line-height: 45px;

        a {
          color: #fff;
          text-decoration: none;
          padding: 15px 20px 15px 20px;
          font-size: 1.2rem;
          font-weight: bolder;
        }

        a:hover {
          background: none !important;
          color: #2b9ff2 !important;
          cursor: pointer;
        }
        img {
          background: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
        .notification-counter {
          font-size: 15px;
          background: red;
          position: absolute;
          top: -10px;
          right: -10px;
          height: 25px;
          width: 25px;
        }
      }
      .notification-container {
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: 27px;
      }
    }
  }
  .intro {
    margin-top: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .nav-wrapper {
    font-size: 20px !important;

    .logo-container {
      width: 35%;
      font-size: 20px !important;
      margin-left: 10px !important;
    }

    .logo {
      margin: 35px 0px 10px 0px !important;
    }

    .right {
      width: 65%;
      margin-right: 10px !important;
    }

    ul {
      li {
        a {
          font-size: 0.7em !important;
          padding: 5px 10px 5px 10px !important;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .App-body {
    margin-top: 95px !important;
  }
  .nav-wrapper {
    .logo-container {
      font-size: 15px !important;
    }
    .logo {
      margin: 10px 0px 10px 0px;
    }
    .right {
      margin-right: 10px !important;
    }
  }
}
@media (max-width: 400px) {
  .nav-wrapper {
    .logo-container {
      font-size: 9px !important;
    }
    .logo {
      margin: 40px 0px 10px 0px !important;
    }
    ul {
      li {
        a {
          font-size: 0.5em !important;
          padding: 5px 10px 5px 10px !important;
        }
      }
    }
    .notification-content {
      right: -10px !important;
      min-width: 250px !important;
      ul {
        a {
          li {
            font-size: 0.5em !important;
          }
        }
      }
    }
  }
}
