.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em !important;
  padding: 5px 30px;
  background: #f8f8f8;
}
.heading {
  display: flex;
  flex-direction: row;
  > div {
    width: 50%;
  }
  &__image {
    float: left;
    width: 40px;
    margin-top: 5px;
  }
  &__img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
  &__user {
    text-align: start;
    margin-left: 10px;
  }
  &__name {
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  &__munite {
    font-size: 13px;
    margin-left: 10px;
  }
  &__avarageRating {
    margin-left: 2.5em;
  }
  &__right-item {
    float: right;
  }
}
.body__article-body {
  figure {
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
.status {
  display: flex;
  flex-wrap: wrap;
  height: 50px;

  > div {
    width: 25%;
    text-align: center;
  }
  &__comment {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.tags-share-container {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 50%;
    text-align: center;
  }
  .share-buttons {
    .share-article {
      float: right;
      height: 50px;
      text-align: center;
      margin-right: 10%;
    }
  }
}
@media screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
    padding: 5px;
  }

  .heading {
    align-items: stretch;

    &__left {
      flex-basis: 80%;
    }
    &__right {
      flex-basis: 20%;
    }
  }
}

@media screen and (max-width: 400px) {
  .heading {
    &__bookmark {
      width: 20px;
    }
    &__menu {
      width: 20px;
    }
  }
  .share-buttons {
    .share-article {
      position: absolute;
    }
  }
}

@media screen and (max-width: 600px) {
  .heading {
    &__name {
      font-size: 12px;
    }
    &__munite {
      font-size: 9px;
    }
  }
  .status {
    > div {
      width: 50%;
      text-align: center;
    }
  }
}
